@charset "utf-8";
/* CSS Document */
*{
	margin: 0 auto;
	padding: 0;
}
.bd{
	width: 1200px;
}
.header{
	width: 1200px;
	height: 70px;	
	margin-bottom: 10px;
}
.header1{ 
	background: url("../images/shouye/logo.png") no-repeat;
	width: 105px;
	height: 70px;
	float: left;
	margin-left: 100px;
}
.header2{
	background: url("../images/shouye/zi.png") no-repeat;
	width: 150px;
	height: 60px;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}
.header3 a{
	text-decoration: none;
	color: black;
}
.header4{
	margin-left: 1000px;
}
.header4 a{
	font-size: 12px;
}
.header4 button{
	background: white;
	border: none;
}
.header5{
	margin-top: 30px;
}
.header5 a{
	margin-left: 60px;
}
.header a:hover{
	color: #e5e5e5;
}
.content{
	width: 1000px;
	text-indent: 2em;
	line-height: 30px;
	border-top: 1px solid black;
	
  	padding: 0 30px;
}
.content h1{
	text-align: center;
	margin: 20px 0px;
}
.content h3{
	border-top: 1px solid #494F98;
	margin-top: 20px;
	margin-bottom: 10px;
}
.foot{
	font-size: 12px;
	text-align: center;
	margin-top: 30px;
	width: 1180px;
	height: 50px;
	background: black;
	color: white;
	padding: 10px 0;
}
.content ul a{
	text-decoration: none;
	margin-left: 50px;
}
.content ul a:link{
	color: darkgrey;
}
.content ul a:hover{
	color: blue;
}
.one a{
	text-decoration: none;
}
.one a:link{
	color: #000000;
}
.one a:hover{
	color: blue;
}
.one{
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 2px #6E6161 solid;
			text-align: center;
			position: fixed;
			right: 50px;
			bottom: 50px;
		}
.one p{margin-top: 5px;color: #000000;}
h4{
	margin-top: 10px;
	margin-bottom: 10px;
}
