@charset "utf-8";
/* CSS Document */
*{
	margin: 0 auto;
	padding: 0;
}
.bd{
	width: 1200px;
}
.header{
	width: 1200px;
	height: 70px;	
}
.header1{ 
	background: url("../images/shouye/logo.png") no-repeat;
	width: 105px;
	height: 70px;
	float: left;
	margin-left: 100px;
}
.header2{
	background: url("../images/shouye/zi.png") no-repeat;
	width: 150px;
	height: 60px;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}
.header3 a{
	text-decoration: none;
	color: black;
}
.header4{
	margin-left: 1000px;
}
.header4 a{
	font-size: 12px;
}
.header4 button{
	background: white;
	border: none;
}
.header5{
	margin-top: 30px;
}
.header5 a{
	margin-left: 60px;
}
.header a:hover{
	color: #e5e5e5;
	
}
.banner{
	width:100%; 
	height:500px; 
	position:relative; 
	overflow:hidden;
}
.one{
	position:absolute; 
	left:50%; 
	top:0; 
	margin-left:-600px;
}
.banner .banner_pic .pic{display:none;}
.banner .banner_pic .current{display:block;}
.banner ol{
	list-style: none;
	position:absolute; 
	left:50%; 
	top:90%;
	margin-left:-62px;
}
.banner ol .but{
	float:left; 
	background: #66838483;
	width:10px;
	height:10px; 
	border-radius:25px;
	margin-right:20px;
}
.banner ol li{cursor:pointer;}
.banner ol .current{
	background:#0068c4; 
	float:left; 
	width:15px; 
	height:15px; 
	border-radius:25px;
	margin-right:20px;
}
.content{
	text-align: center;
}
.content img:hover{
	transform: scale(1.2); 
}
.content1{
	font-size: 50px;
	margin: 20px 0;
	font-family: "华文行楷";
}
.content2{
	margin-top: 10px;
	line-height: 30px;
}
span{
	font-weight: bolder;
	font-family: "宋体";
}
.imgbox{
	width: 1000px;
	padding: 0 10px;
	overflow: hidden;
	white-space: nowrap;
	border: 2px solid black;
}
.imgbox img{
	width: 200px;
	height: 150px;
	padding: 5px;
}
.imgbox1{
	width: 1000px;
	padding: 0 10px;
	overflow: hidden;
	white-space: nowrap;
	border: 2px solid black;
}
.imgbox img1{
	width: 200px;
	height: 150px;
	padding: 5px;
}
.foot{
	font-size: 12px;
	text-align: center;
	margin-top: 30px;
	width: 1180px;
	height: 50px;
	background: black;
	color: white;
	padding: 10px 0;
}
